.qr-code-reader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  /* Full viewport height to center vertically */
    width: 100%; /* Full width to center horizontally */
}
