.about-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding-top: 5%;
}

.about-container h1,
.about-container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.about-container p {
    margin: 10px 0;
    color: #555;
}

.about-container ul.list-items {
    margin: 10px 0;
    padding-left: 20px;
}

.about-container ul.list-items li {
    margin: 5px 0;
    font-weight: bold;
}

.about-container .highlight {
    color: #0071e3;
    font-weight: bold;
}

.about-container .video-container {
    margin-top: 20px;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    height: 0;
    overflow: hidden;
}

.about-container .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
.about-container .image-container {
    margin-top: 20px;
    position: relative;
    padding-bottom: 100%; 
    height: 0;
    overflow: hidden;
}
